@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    
  color-scheme: light;
}

body {
  color: #1f2937;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}